section {
    background-color: #e1ccec;
}

hr {
    background-color: #324950;
}

p {
    font-size: 17px;
}

.header {
    background-color: #fff;
}

.headerImg {
    background-image: url(../images/beetAll/beetBg.jpg);
    background-size: 140%;
    height: 480px;
    background-position: center;
}

.visionMission .title__text {
    font-size: 44px;
}

.visionMission {
    padding-top: 50px;
    padding-bottom: 70px;
}

.crosses {
    margin-bottom: 30px;
}

.borderedLeft {
    border-left: 3px solid #EB5757;
}

.borderedLeft .borderedLeft__text {
    margin-left: 25px;
}

.markets h2 {
    font-size: 20px;
    max-width: 290px;
}

.markets .container {
    background-color: #fff;
}

.markets__items {
    padding-top: 55px;
    padding-bottom: 20px;
}

.products {
    padding-top: 40px;
    padding-bottom: 20px;
}

.products .items {
    text-align: center;
    padding-top: 40px;
}

.products .item {
    color: #57984C;
    font-size: 16px;
    margin-top: 15px;
}

.products .item img {
    width: 100%;
}

.products .item__text {
    background-color: #fff;
    padding-top: 5px;
}

.products h2 {
    font-size: 20px;
}

.products p {
    margin-top: -5px;
    padding-bottom: 5px;
}

.products a {
    color: #324950;
}

.products a:hover {
    outline: none;
    text-decoration: none;
}

.item:hover {
    box-shadow: 0px 0px 21px 15px rgba(50, 73, 80, 0.2);
}

@media (max-width: 767px){
    .headerImg {
        height: 250px;
        background-position: top;
        background-size: 300%;
    }
    .visionMission .title__text {
        text-align: center;
    }
    .crosses {
        display: flex;
        justify-content: center;
    }
    .search {
        margin-bottom: 20px;
    }

}

@media (max-width: 991px){

}