<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tomatoOne.css">
    <link rel="stylesheet" href="css/mainActiv.css">
    <title>AGREDIA - Company profile</title>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-3">
                    <img src="images/Logo.png" alt="Agridera" class="logo">
                </div>
                <div class="col-lg-5 ml-auto ">
                    <nav>
                        <div class="search col-lg-10">
                            <!-- <input type="text" placeholder="Search" name="search">
                            <button><img src="/images/search.png" alt="search"></button> -->
                            <form class="" action="">
                                <input type="text" placeholder="Search.." name="search">
                                <button type="submit"><img src="images/search.png" alt="search"></button>
                              </form>
                        </div>
                        <br>
                        <div class="burgerMenu">
                            <img src="images/menu.svg" class="openMenu" alt="menu">
                            <img src="images/close.svg" class="closeMenu" alt="close">
                        </div>
                        <div class="menuUp">
                            <ul class="menu d-flex justify-content-center">
                                <li class="menu__item"> 
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Company</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Profile</a>
                                </li>
                                <li class="menu__item">
                                    <a href="tomatoAll.html">Products</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Services</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">R&D</a>
                                </li>
                                <li class="menu__item">
                                    <a href="/contactUs.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            </div>
        </header>


    <section class="tomatoOne">
        <div class="container">
            <div class="row">
                <div class="goBack">
                    <a href="tomatoAll.html">
                        <img src="images/tomatoOne/Arrow.svg" alt="arrow">
                        Return to all tomatoes
                    </a>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-lg-6">
                    <div class="title">
                        <div class="title__text">
                            <h1>TAG 1002 (TAG 809)</h1>
                            <h2>Tomato Determinate Red Standard Round</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="crosses col">
                        <img src="images/xxx.png" alt="crosses">
                    </div>
                </div>
                <div class="row quality">
                    <div class="col-lg-2">
                        <img src="images/tomatoOne/quality.svg" alt="quality">
                    </div>
                        <div class="col-lg-10">
                            <b class="quality__text">Very high yield and excellent fruits quality!</b>
                        </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <img src="images/tomatoAll/tomato2.png" alt="tomato">
                </div>
            </div> -->

            <div class="row item" v-if="product">
                <div class="col-lg-6">
                    <div class="title">
                        <div class="title__text">
                            <h1>{{product.title}}</h1>
                            <h2>{{product.short_text}}</h2>
                        </div>
                        <div class="row">
                            <div class="crosses col">
                                <img src="images/xxx.png" alt="crosses">
                            </div>
                        </div>
                        <div class="row quality">
                            <div class="col-lg-2">
                                <img src="images/tomatoOne/quality.svg" alt="quality">
                            </div>
                                <div class="col-lg-8">
                                    <b class="quality__text">Very high yield and excellent fruits quality!</b>
                                </div>
                        </div>

                        <div class="row">
                            <div class="textBlock">
                                <div class="textBlock_item">
                                    <h3>DESCRIPTION</h3>
                                    <img src="images/line.svg" alt="line">
                                    <p>{{product.desc}}</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tomatoImage"><img :src="'images/'+product.image" alt="beet"></div>

                    <div class="download">
                        <button @click.prevent="addToCart(product.id)" v-if="!btnVisible"><img src="images/shopping-cart.svg" alt="pdf"><span>Add to card</span></button>
                        <a href="contactUs.html"><button v-if="btnVisible"><img src="images/shopping-cart.svg" alt="cart"><span>Go to card</span></button></a>
                    </div>

                    <div class="textBlock_item">
                        <h3>Cycle</h3>
                        <img src="images/line.svg" alt="line">
                        <br><b>Resistance</b>
                        <ul>
                            <li><span>Spring</span></li>
                            <li><span>Fall</span></li>
                            <li><span>Winter</span></li>
                        </ul>
                    </div>

                    <div class="textBlock_item">
                        <h3>Color</h3>
                        <img src="images/line.svg" alt="line">
                        <p>Red</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="footerFirst" class="footerFirst">
        <div class="container">
            <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <ul class="footer__menu">
                            <li class="footer__item"> 
                                <a href="#">PROFILE</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">MANAGEMENT</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">PRODUCTS</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">R&D</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">LINKS</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">SITEMAP</a>
                            </li>
                            <li class="footer__item">
                                <a href="#">CONTACT</a>
                            </li>
                        </ul> 
                    </div>
                    <div class="col-lg-3 d-flex justify-content-center ml-auto">
                        <li class="footer__link">
                            <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="images/inst.svg" alt="instagram"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="images/youtube.svg" alt="youtube"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="images/Ico_tw.svg" alt="twitter"></a>
                        </li>
                        <li class="footer__link">
                            <a href="#"><img src="images/Ico_fb.svg" alt="facebook"></a>
                        </li>
                    </div>
            </div>
        </div>
</section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center ">
                    AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/menu.js"></script>
</html>